@{
    ViewData["Title"] = "Suggestie ontvangen";
}

<div class="alert alert-success">
    <h4>Bedankt voor je suggestie!</h4>
    <p>Je idee is succesvol ontvangen en wordt binnenkort bekeken.</p>
</div>

<a href="@Url.Action("Create", "Suggestion")" class="btn btn-primary">Nog een suggestie indienen</a>